
@import "_reset.css";
/*  Color palette
    -----------------------
    color       HEX code  RGB code
    -------------------------------------
    red:      	#960001	  rgb(150,0,1)
    yellow:     #e2e55f	  rgb(226,229,95)
    green:      #96c25f	  rgb(150,194,95)
    blue:       #5582c6	  rgb(85,130,198)
    purple: 	  #79519f	  rgb(121,81,159) 

    fonts
    -----------------------
    headings:   Cabin
    body:       Roboto

    font-sizes:
    -----------------------
    h1:   70px
    h2:   36px
    h3    24px
    body: 17px (all other text)

    breakpoints
    -----------------------
    desktop: 1200px
    
    max-width of the content is 1400px
*/

/* Add all of your styles here */

/*Lilith's code starts here*/

/*The already imported fonts aren't working for me*/
@import url("https://fonts.googleapis.com/css2?family=Cabin&family=IBM+Plex+Mono&family=Roboto:wght@100&display=swap");

/*If I understand correctly, my breakpoint works properly 
because the css stops working when the window is minimized etc.
Please let me know if I have not correctly used this.*/
@media only screen and (min-width: 1200px) {
  h1,
  h2,
  h3 {
    font-weight: bold;
    font-family: "Cabin", sans-serif;
    color: #960001;
  }

  /*guidlines say two h2s, but based on font sizes, there 
  appears to be three in the mockup*/
  h2 {
    font-size: 36px;
    padding-bottom: 10px;
    border-bottom-width: 2px;
    border-bottom-color: #96c25f;
    border-bottom-style: solid;
    margin-bottom: 40px;
  }
  h3 {
    font-size: 24px;
  }
  p,
  a,
  button {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    line-height: 23px;
    font-weight: bold;
  }
  p {
    color: white;
  }
  a {
    color: #e2e55f;
  }

  body {
    background-color: #5582c6;
    max-width: 1400px;
  }

  /*I had trouble properly cropping with the image as a background.
  Is there a simple way to do that? With this system, I had to 
  seperate the wallpaper element to bypass the margins*/
  .not_wallpaper {
    margin: 30px;
    position: relative;
    top: -530px;
  }

  /*Cropping using object position for child and position for 
  parent. I could not find/think up a simpler way to do this*/
  .wallpaper {
    position: relative;
    top: -300px;
  }
  .wallpaper img {
    max-width: 100%;
    object-fit: contain;
    object-position: 0 300px;
  }

  .title {
    font-size: 70px;
  }

  .title img {
    width: 200px;
    position: relative;
    box-shadow: 0 0 3px #6d3d55;
    top: -40px;
  }

  .title h1 {
    position: relative;
    top: 220px;
    left: 220px;
    /*don't totally know why the box size got messed*/
    height: 80px;
    width: 390px;
    text-align: center;
    padding: 4px 20px;

    /*To make opacity on only background, mixed background blue w/ white
  for each number --> (2*w+b)/3 */
    background-color: rgb(198, 213, 236);
  }

  .synopsis {
    margin-bottom: 40px;
  }

  .characters section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /*column-gap: 75px;*/
  }
  .characters .first_line {
    margin-bottom: 10px;
  }
  .characters a {
    display: inline;
    text-decoration: none;
  }

  .characters p {
    width: 580px;
  }
  .characters h3 {
    width: 580px;
    padding: 10px;
  }
  .characters img {
    height: 250px;
    width: auto;
    float: left;
    margin-bottom: 12px;
    margin-right: 20px;
    box-shadow: 0 0 3px #6d3d55;
  }

  .comments button {
    background-color: #79519f;
    border: none;
    padding: 5px 20px;
    display: block;
    color: white;

    /*Why does button need more pixels to be the 
same size as input box?*/
    width: 304px;
    margin-top: 10px;
  }

  .comments button:hover {
    background-color: rgb(188, 168, 207);
  }

  .comments input {
    width: 300px;
    border-radius: 0 0 0 0;
    border-width: 0;
    height: 25px;
    margin-top: 10px;
    display: flex;
  }

  .comments h3 {
    margin-top: 30px;
  }
  .comments p {
    margin-top: 20px;
  }

  .quote {
    width: 100%;
    height: 100px;
    background-color: #e2e55f;
    box-shadow: 0 0 3px #6d3d55;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 40px;
    margin-bottom: 20px;
  }

  .quote span {
    font-weight: bolder;
  }

  .quote p {
    color: #960001;
    font-weight: normal;
  }
}
